html,
body {
  width: 100%;
}
/* NavbarStyles */
.logoStyles {
    width: 30%;
    margin-left: 65px;
    cursor: pointer;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .columnLogo {
    float: left;
    width: 25%;
  }
  .columnNavbar {
    float: right;
    width: 20%;
    display: inline;
    margin-top: 10px;
  }
  .dropdown-content-explore {
    display: none;
    position: absolute;
    background-color: #c4c4c4;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 70px;
    font-family: "OCR A";
  }
  .dropdown-content-explore a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content-explore a:hover {
    background-color: #111;
    color: white;
    text-shadow: 2px 2px 10px whitesmoke;
    border-radius: 10px;
  }
  .dropdown-content-user {
    display: none;
    position: absolute;
    background-color: #c4c4c4;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 10px;
    font-family: "OCR A";
  }
  .dropdown-content-user a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content-user a:hover {
    background-color: #111;
    color: white;
    text-shadow: 2px 2px 10px whitesmoke;
    border-radius: 10px;
  }
  .showUser {
    display: block;
  }
  .showExplore {
    display: block;
  }
  /* end of navbarStyles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
  padding-inline-start: 7px;
}

li:hover {
  color: aqua;
  cursor: pointer;
}

.toDisplayInline {
  display: inline;
}

#p1 {
  font-family: "OCR A";
  color: #545454;
  text-align: center;
  font-size: 40px;
  text-shadow: 1px 2px 2px rgba(84, 84, 84, 1);
}

.backgroundimage {
  background-image: url("background_image2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-size: 100% 100%;
    background-color:black; */
}

.header {
  margin-left: 11%;
  margin-top: 3%;
  color: aqua;
  font-size: 63px;
  display: inline-block;
  cursor: pointer;
}

h2 {
  color: white;
  margin-left: 200px;
}

label {
  margin-left: 25%;
}

.inputFeilds {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  border-top-style: hidden;
  border-left-style: hidden;
  border-radius: 50px;
  color: #545454;
  outline: none;
  width: 50%;
  margin-left: 25%;
  font-size: 20px;
  font-family: "OCR A";
  height: 7.5%;
  padding-left: 20px;
  /*box-shadow: 3px 2px 2px 0px rgba(84,84,84,1); */
}
.error {
  color: red;
  font-family: "OCR A";
  font-size: 10px;
  margin-left: 26%;
  display:none;
}
.showError{
  display:block !important;
}

.button {
  background-color: white;
  font-family: "OCR A";
  border: 2%;
  border-color: white;
  border-radius: 15px;
  color: #545454;
  border-bottom-style: hidden;
  border-right-style: hidden;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin-left: 45%; */
  cursor: pointer;
  display: block;
  margin: auto;
  box-shadow: 3px 2px 2px 0px rgba(84, 84, 84, 1);
  transition: 0.6s ease-in-out;
}
.button:disabled,
.button[disabled]{
  opacity: 0.5;
  cursor:default;
}

.button:hover:not([disabled]) {
  background-color: #545454;
  color: white;
  transition: 0.6s ease-in-out;
  box-shadow: 5px 19px 38px -12px rgba(84, 84, 84, 0.69);
}

.buttonNewMember {
  background-color: white;
  font-family: "OCR A";
  border: 2%;
  border-color: white;
  border-radius: 15px;
  border-bottom-style: hidden;
  border-right-style: hidden;
  color: #545454;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 45%;
  cursor: pointer;
  display: block;
  margin: auto;
  box-shadow: 3px 2px 2px 0px rgba(84, 84, 84, 1);
  transition: 0.6s ease-in-out;
}

.buttonNewMember:hover {
  background-color: #545454;
  color: white;
  transition: 0.6s ease-in-out;
  box-shadow: 5px 19px 38px -12px rgba(84, 84, 84, 0.69);
}

.title {
  padding-top: 10%;
  text-align: center;
  color: #545454;
  font-size: 63px;
}

.forgot_password {
  color: #545454;
  /* text-align: center; */
  /* //margin-left: 45%; */
  cursor: pointer;
  font-family: "OCR A";
  text-align: center;
}

.forgot_password:hover {
  color: black;
  cursor: pointer;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  box-shadow: 2px -13px 29px 0px rgba(85, 48, 48, 0.75);
}

#showHide {
  margin-top: 0px;
  width: 30px;
  margin-left: -50px;
  margin-bottom: -10px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  padding: 10px;
}

.too_left {
  width: 15%;
}

.left {
  width: 30%;
}

.right {
  width: 20%;
}

.middle {
  width: 20%;
}

.too_right {
  width: 15%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.middleSocial {
  width: 70%;
}

.rightSocial {
  width: 15%;
}

.leftSocial {
  width: 15%;
}

.divide_linksLeft {
  width: 55%;
}

.divide_linksRight {
  width: 15%;
}

.logos {
  margin-top: 10px;
  border-radius: 25%;
  width: 5%;
  text-align: right;
}
