.background_image {
  background-image: url("background_image2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* NavbarStyles */
.logoStyles {
  width: 30%;
  padding-left: 100px;
  padding-top: 10px;
  cursor: pointer;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.columnLogo {
  float: left;
  width: 25%;
}
.columnNavbar {
  float: right;
  width: 21%;
  display: inline;
  margin-top: 25px;
}
.dropdown-content-explore {
  display: none;
  position: absolute;
  background-color: #c4c4c4;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 70px;
  font-family: "OCR A";
}
.dropdown-content-explore a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content-explore a:hover {
  background-color: #111;
  color: white;
  text-shadow: 2px 2px 10px whitesmoke;
  border-radius: 10px;
}
.dropdown-content-user {
  display: none;
  position: absolute;
  background-color: #c4c4c4;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 10px;
  font-family: "OCR A";
}
.dropdown-content-user a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content-user a:hover {
  background-color: #111;
  color: white;
  text-shadow: 2px 2px 10px whitesmoke;
  border-radius: 10px;
}
.showUser {
  display: block;
}
.showExplore {
  display: block;
}
.navbarItems {
  list-style-type: none;
  color: #0a0909;
  font-family: "OCR A";
  text-shadow: 2px 2px 8px black;
  margin: 0%;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  font-size: 125%;
  text-align: center;
  padding: 22px 30px;
  transition: 0.3s ease-in-out;
}
.navbarItems:hover {
  background-color: #111;
  color: white;
  text-shadow: 2px 2px 10px whitesmoke;
  transition: 0.3s ease-in-out;
}
.navbar2Container a.active{
  background-color: #111;
  color: white;
  text-shadow: 2px 2px 10px whitesmoke;
}
.navbar2Container {
  margin-left: 100px;
  background-color: #c4c4c4;
  opacity: 0.8;
  width: fit-content;
  border-radius: 10px;
}
/* end of navbarStyles */
.storeFigure{
    display: inline-block;
    margin: 20px;
}
.storeItemsCaption{
    font-family: 'OCR A';
    font-size: 15px;
    text-decoration:solid;
    color: #26272b;
}
.storeItemsHeading{
    font-family: 'OCR A';
    font-size: 30px;
    text-decoration:solid;
    padding-left: 20px;
    padding-top: 20px;
    color: #26272b;
}

.storeImages {
  border-radius: 30px;
  width: 350px;
  height: 420px;
}
.action, .fps, .rpg, .dimensionalgames, .platformers{
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 25px;
    backdrop-filter: blur(5px);
    background-color: rgba(96, 96, 96, 0.3);
    border-radius: 20PX;
    width:fit-content;
    
}
.load_more{
    background-color: #c4c4c4;
    color: #0a0909;
    align-items: center;
    border-radius: 30px;
    padding: 15px;
    border-color: #0a0909;
    cursor: pointer;
    font-family: 'OCR A';
    font-size: 20px;
    text-align: center;
    margin-left: 44%;
    margin-bottom: 10px;
    transition: 0.5s ease;
}
.load_more:hover{
    background-color: #0a0909;
    color: #c4c4c4;
}
.removeLoadMore{
  display: none;
}
.site-footer {
  margin-top: 200px;
  background-color: #26272b;
  padding: 35px 0 20px;
  font-size: 11px;
  line-height: 24px;
  color: #737373;
  box-shadow: 5px 19px 38px -12px rgba(84, 84, 84, 0.69);
  /* //box-shadow: 2px -13px 29px 0px rgba(85, 48, 48, 0.75); */
}
/* * {
  box-sizing: border-box;
} */
html,
body {
  margin: 0;
  padding: 0;
}
.column {
  float: left;
  padding: 10px;
}

.too_left {
  width: 15%;
}

.left {
  width: 30%;
}

.right {
  width: 20%;
}

.middle {
  width: 20%;
}

.too_right {
  width: 15%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.middleSocial {
  width: 70%;
}

.rightSocial {
  width: 15%;
}

.leftSocial {
  width: 15%;
}

.divide_linksLeft {
  width: 55%;
}

.divide_linksRight {
  width: 15%;
}

.logos {
  margin-top: 10px;
  border-radius: 25%;
  width: 5%;
  text-align: right;
  transition: 0.6s ease-in-out;
}
.btn-google {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd;
}
.btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.display_inline {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ol {
  list-style-type: none;
  padding-inline-start: 7px;
}
li:hover {
  /* color: aqua; */
  cursor: pointer;
}
.display_inline {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.toDisplayInline {
  display: inline;
}
/* li
{
    display: inline;
} */
h3 {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: white;
  margin-left: 0px;
  font-size: 13px;
  margin-right: 0;
}
